// Colors
$primary-color: #c6eaff;
$light-shadow: #e4ffff;
$dark-shadow: #a8c7d9;

// Buttons
$button-icon-size: 24px;

// Spacing
$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 3rem;

// Typography
$line-height: 1.5;