// Colors
$primary-color: #363636;
$light-shadow: #3e3e3e;
$dark-shadow: #2e2e2e;

// Buttons
$button-icon-size: 24px;

// Spacing
$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 3rem;

// Typography
$line-height: 1.5;